body{
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
}
#map {
height: 100vh;
width: 100%;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  font-size: 1.3em;
}

a {
  padding-left: 0px;
  text-decoration: none;
}

#form {
  padding : 5px;
}
#link {
  color: blue;
  text-align: right;
}
#link:hover {
  cursor: pointer;
}
#success {
  background-color: green;
  color: white;
  text-align: center;
}
#no-success {
  background-color: red;
  color: white;
  text-align: center;
}
